<html>

<head>

    {% load static %}

    <title>
    {% block title %} {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href="{% static 'principal/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->

     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


    <!-- Styles -->
    <link href="{% static 'principal/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">

        <span class="site-heading-lower">Por este sitio</span>
      </h1>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <!-- a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Principal' %}">Gestión de Pedidos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Principal' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/articulo' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Arts' %}">Artículos</a>
          </li>
          <li class="nav-item {% if request.path == '/empleos' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Empl' %}">Empleos</a>
          </li>
          <li class="nav-item {% if request.path == '/servicios' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Serv' %}">Servicios</a>
          </li>
          <li class="nav-item {% if request.path == '/blog' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Blogp' %}">Blog</a>
          </li>
          <li class="nav-item {% if request.path == '/contacto' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Cont' %}">Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav mx-auto justify-content-end">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
            <div class="dropdown-menu">
              <span style="color: black; font-style: italic;">Agregar</span>
              <a class="dropdown-item" href="#">Empleo</a>
              <a class="dropdown-item" href="{% url 'ArtNuevo' %}">Artículo</a>
              <a class="dropdown-item" href="#">Servicio</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Cerrar</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item {% if request.path == '/cuenta/login' %}active{% endif %}">
            <a class="nav-link text-expanded justify-content-end" href="{% url 'login' %}">Conectarse</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-expanded justify-content-end" href="{% url 'registro_usuario' %}">Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

   <!-- Heading  y Message Cambiante -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> 
        	<a href="sample.html" class="link">Aviso legal</a> 
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Gestión de Pedidos 2020</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'principal/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'principal/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>